:root {
    --color-brand-1: #ffb545;
    --color-brand-2: #00c46a;
    --color-dark-1: #2d3439;
    --color-dark-2: #42484d;
    --color-light-1: #aaa;
    --color-light-2: #ececec;
    --color-light--: rgb(214, 222, 224);
  }

*{
    margin: 0;
    font-family: sans-serif;
}

body{
    display: flex;
    padding: 3rem;
    overflow: hidden;
}

.sidebar{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90vh;
    width: 30vw;
    background-color: var(--color-light-2);
}

.sidebar .header{
    background-color: var(--color-dark-1);
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.sidebar .logo{
    display: flex;
    align-items: center;
}

.sidebar .logo img{
    width: 70px;
    margin: 40px 0;
}

.sidebar .logo span{
    font-size: 2.5rem;
    color: var(--color-light-1);;
}

.workouts{
    position: relative;
}

.sidebar .workouts .form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--color-dark-2);
    width: 400px;
    height: 100px;
    border-radius: 5px;
    margin-bottom: 1rem;
    padding: 5px;
    transition: all 0.5s;
}

.sidebar .workouts .form .form_row{
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    font-size: 1.25rem;
    color: var(--color-light-2);
    padding: 10px;
}

.sidebar .workouts .form .input_select-type{
    width: 75px;
    height: 25px;
    border-radius: 5px;
    border: none;
}

.sidebar .workouts .form .input_text{
    width: 65px;
    height: 25px;
    padding-left: 8px;
    border-radius: 5px;
    border: none;
}

.workout_summary{
    margin-bottom: 1rem;
    padding: 1rem;
    background-color: var(--color-dark-2);
    border-radius: 5px;
    position: relative;
}

.workout_running{
    border-left: solid 5px var(--color-brand-1);
}

.workout_cycling{
    border-left: solid 5px var(--color-brand-2);
}

.workout_summary .workout_title{
    color: var(--color-light-2)
}

.workout_summary .workout_details{
    display: flex;
    justify-content: space-between;
    width: 375px;
    margin-top: 1.7rem;
    font-size: 1.1rem;
    color: var(--color-light-2);
}

.workout_delete{
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 1.5rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 111;
}

.workout_delete-all {
    width: 70px;
    height: 70px;
    font-size: 4rem;
    border-radius: 50px;
    border-color: var(--color-dark-2);
    color: var(--color-dark-2);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateZ(45deg);
}

#map{
    width: 66vw;
    background-color: #42484d;
    position: relative;
}

.leaflet-popup .leaflet-popup-content-wrapper{
    background-color: var(--color-dark-1);
    color: var(--color-light-2);
    border-radius: 0 5px 5px 0;
}

.leaflet-popup .leaflet-popup-content{
    font-size: 1.2rem;
}

.leaflet-popup .leaflet-popup-tip{
    background-color: var(--color-dark-1);
}

.running-popup{
    border-left: solid 5px var(--color-brand-1);
    border-radius: 5px 0 0 5px;
}

.cycling-popup{
    border-left: solid 5px var(--color-brand-2);
    border-radius: 5px 0 0 5px;
}

.sidebar .workout_delete-all.hidden{
    display: none;
}

.sidebar .workouts .hidden{
    display: none;
}

.sidebar .workouts .form .hidden{
    display: none;
}

.modal_remove-workouts-all{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    width: 300px;
    height: 200px;
    border-radius: 5px;
    position: absolute;
    left: 10rem;
    top: 20rem;
    z-index: 222;
    background-color: var(--color-dark-1);
}
.modal_remove-workouts-all.hidden{
    display: none;
}

.modal_remove-workouts-all button{
    width: 80px;
    height: 50px;
    border: none;
    border-radius: 5px;
    background-color: var(--color-light-2);
    color: var(--color-dark-1);
    font-size: 2rem;
}