:root {
    --color-brand-1: #ffb545;
    --color-brand-2: #00c46a;
    --color-dark-1: #2d3439;
    --color-dark-2: #42484d;
    --color-light-1: #aaa;
    --color-light-2: #ececec;
    --color-light--: rgb(214, 222, 224);
  }

*{
    margin: 0;
    font-family: sans-serif;
}

body{
    display: flex;
    padding: 3rem;
    overflow: hidden;
}

.sidebar{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90vh;
    width: 30vw;
    background-color: var(--color-light-2);
}

.sidebar .header{
    background-color: var(--color-dark-2);
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    margin-bottom: 2.5rem;
}

.sidebar .logo{
    display: flex;
    align-items: center;
}

.sidebar .logo img{
    width: 70px;
    margin: 40px 0;
}

.sidebar .logo span{
    font-size: 2.5rem;
    color: var(--color-light-1);;
}

.sidebar .workout .form_rows{
    background-color: var(--color-dark-2);
    border-radius: 5px;
}

.sidebar .workout .form_rows .form_activity{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 400px;
    border-radius: 15px;
    padding: 5px;
}

.sidebar .workout .form_activity .form_row{
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 1.25rem;
    color: var(--color-light-2);
    padding: 10px;
}

.sidebar .workout .form_activity .input_select-type{
    width: 75px;
    border-radius: 5px;
    border: none;
}

.sidebar .workout .form_activity .input_text{
    width: 65px;
    padding-left: 8px;
    border-radius: 5px;
    border: none;
}

.sidebar .workout .workout_summary{
    margin: 1.5rem 0;
    padding: 1rem;
    background-color: var(--color-dark-2);
    border-radius: 5px;
}

.sidebar .workout .workout_running{
    border-left: solid 5px var(--color-brand-1);
}

.sidebar .workout .workout_cycling{
    border-left: solid 5px var(--color-brand-2);
}

.sidebar .workout .workout_summary .workout_title{
    color: var(--color-light-2)
}

.sidebar .workout .workout_summary .workout_details{
    display: flex;
    justify-content: space-between;
    margin-top: 1.7rem;
    font-size: 1.1rem;
    color: var(--color-light-2)
}

#map{
    width: 66vw;
    background-color: #42484d;
    position: relative;
}